<!-- login_signup.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container m-5">
    hello
</div>




<div class="row m-5">
    <div class="col-md-6 offset-md-3">
        <div class="text-center mb-4">
            <h2>Welcome</h2>
            <p>Please select an option below:</p>
        </div>
        <div class="text-center">
            <a href="{% url 'login' %}" class="btn btn-primary mr-2" >Login</a>
            <a href="{% url 'signup' %}" class="btn btn-success" >Sign Up</a>
        </div>
    </div>
</div>

</div>
</div>
{% endblock %}
